@import 'meyer-reset.css';

/* SETUP */
* {
    box-sizing: border-box;
    font-family: 'Robot', sans-serif;
}

img {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
    border: 4px solid rgb(69, 147, 179);
}

section {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

/* DEV */
/* body * {
    border: 1px solid blue;
    padding: 2px;
} */

/* STRUCTURE */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

inner-column {
    display: block;
    padding: 10px;
    width: 85%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1vh;
    margin-bottom: 2vh;
}

/* TYPOGRAPHY */
.loud-voice {
    font-size: 4vw;
    font-weight: 700;
    line-height: 1;
}

.calm-voice {
    font-size: 1.5vw;
    line-height: 1.3;
}

.medium-voice {
    font-size: 2vw;
    line-height: 1;
    font-weight: bold;
}

/* SETTINGS */
.blue-section {
    background-color: rgb(45, 37, 112); 
    color: white;
}

.gray-section {
    background-color: gray; 
}

/* COMPONENTS */
a > button {
    background-color: rgb(41, 87, 241);
    color: white;
    font-size: 1.5vw;
    padding: 0.4em 1em;
    border-radius: 0.3rem;
}

/* MODULES */
/* Navigation bar */
.navbar {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.logo {
    margin-right: auto;
    font-size: 1.5vw;
}

.navbar-link {
    font-size: 1.5vw;
}

/* Welcome */
.welcome {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.welcome-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
@media (min-width: 700px) {
    .welcome {
        flex-direction: row;
    }

    .welcome-content {
        flex: 1;
    }

    .welcome-image {
        flex: 1;
    }
}

/* Product */
.product {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.product-header {
    font-size: 2vw;
    text-align: center;
}

.product-images {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 2vw;
    flex-wrap: wrap;
}

.product-images p {
    font-size: 2vw;
    text-align: center;
}

@media (min-width: 700px) {
    .product-images > div {
        flex: 1;
        min-width: 350px;
    }
}

/* Quotes */
.quote-content {
    font-size: 3vw;
    font-style: italic;
    color: aliceblue;
    text-align: center;
}

.quote-author {
    text-align: right;
    font-size: 1.5vw;
    font-weight: bold;
    color: aliceblue;
}

/* Call to action */
.call-to-action {
    display: flex;
    justify-content: space-evenly;
    color: wheat;
    background-color: blue;
    border-radius: 0.5rem;
    padding: 2rem;
    align-items: center;
}